* {
  /* Exclusive to firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--primary-3)) rgba(var(--base-16));

  /* Exclusive to chrome, edge and safari */
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(var(--primary-3));
  }

  &::-webkit-scrollbar-thumb {
    border: 0.0625rem solid;
    border-radius: 0.3125rem;
    background-color: rgba(var(--base-16));
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.3125rem;
  }
}

::selection {
  background-color: rgba(var(--primary-4));
  color: rgba(var(--base-white));
}

html {
  scroll-behavior: smooth;
}
